In [1]:
import pandas as pd

df = pd.read_csv('pokemon_data.csv')
df_xlsx = pd.read_excel('pokemon_data.xlsx')
df_txt = pd.read_csv('pokemon_data.txt', delimiter="\t")

In [2]:
print(df.tail(3))

       #                 Name   Type 1 Type 2  HP  Attack  Defense  Sp. Atk  \
797  720  HoopaHoopa Confined  Psychic  Ghost  80     110       60      150
798  720   HoopaHoopa Unbound  Psychic   Dark  80     160       60      170
799  721            Volcanion     Fire  Water  80     110      120      130

     Sp. Def  Speed  Generation  Legendary
797      130     70           6       True
798      130     80           6       True
799       90     70           6       True

In [3]:
print(df_xlsx.head(3))

   #       Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
0  1  Bulbasaur  Grass  Poison  45      49       49       65       65     45
1  2    Ivysaur  Grass  Poison  60      62       63       80       80     60
2  3   Venusaur  Grass  Poison  80      82       83      100      100     80

   Generation  Legendary
0           1      False
1           1      False
2           1      False

In [4]:
print(df_txt.tail(3))

       #                 Name   Type 1 Type 2  HP  Attack  Defense  Sp. Atk  \
797  720  HoopaHoopa Confined  Psychic  Ghost  80     110       60      150
798  720   HoopaHoopa Unbound  Psychic   Dark  80     160       60      170
799  721            Volcanion     Fire  Water  80     110      120      130

     Sp. Def  Speed  Generation  Legendary
797      130     70           6       True
798      130     80           6       True
799       90     70           6       True

In [5]:
## Reading Headers
print(df.columns)

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [6]:
##Read each column
print(df[['Name', 'Type 1', 'Type 2']][0:13])

                         Name Type 1  Type 2
0                   Bulbasaur  Grass  Poison
1                     Ivysaur  Grass  Poison
2                    Venusaur  Grass  Poison
3       VenusaurMega Venusaur  Grass  Poison
4                  Charmander   Fire     NaN
5                  Charmeleon   Fire     NaN
6                   Charizard   Fire  Flying
7   CharizardMega Charizard X   Fire  Dragon
8   CharizardMega Charizard Y   Fire  Flying
9                    Squirtle  Water     NaN
10                  Wartortle  Water     NaN
11                  Blastoise  Water     NaN
12    BlastoiseMega Blastoise  Water     NaN

In [7]:
##Print Each Row
#print(df.iloc[1])
df.loc[df['Type 1'] == 'Grass'][0:10]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
48,43,Oddish,Grass,Poison,45,50,55,75,65,30,1,False
49,44,Gloom,Grass,Poison,60,65,70,85,75,40,1,False
50,45,Vileplume,Grass,Poison,75,80,85,110,90,50,1,False
75,69,Bellsprout,Grass,Poison,50,75,35,70,30,40,1,False
76,70,Weepinbell,Grass,Poison,65,90,50,85,45,55,1,False
77,71,Victreebel,Grass,Poison,80,105,65,100,70,70,1,False

In [8]:
##Print A Specific Position
print(df.iloc[4, 1])

Charmander

In [9]:
###Sorting and describing data

In [10]:
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [11]:
df.sort_values(['Type 1', 'HP'], ascending=[1, False])[0:10]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
520,469,Yanmega,Bug,Flying,86,76,86,116,56,95,4,False
698,637,Volcarona,Bug,Fire,85,60,65,135,105,100,5,False
231,214,Heracross,Bug,Fighting,80,125,75,40,95,85,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
678,617,Accelgor,Bug,NaN,80,70,40,100,60,145,5,False
734,666,Vivillon,Bug,Flying,80,52,50,90,50,89,6,False
447,402,Kricketune,Bug,NaN,77,85,51,55,51,65,4,False
220,205,Forretress,Bug,Steel,75,90,140,60,60,40,2,False
602,542,Leavanny,Bug,Grass,75,103,80,70,80,92,5,False
717,649,Genesect,Bug,Steel,71,120,95,120,95,99,5,False

In [12]:
### Making Changes to data

In [13]:
df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']

df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

In [14]:
60 + 62 + 63 + 80 + 80 + 60

405

In [15]:
df = df.drop(columns = ['Total'])

df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [16]:
df['Total'] = df.iloc[:, 4:10].sum(axis=1)

In [17]:
df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

In [18]:
cols = list(df.columns)

df = df[cols[:4] + [cols[-1]] + cols[4:-1]]

df.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [19]:
### Saving Data To CSV

In [20]:
df.to_csv('modified.csv', index=0)

In [21]:
df.to_excel('modified.xlsx', index=0)

In [22]:
df.to_csv('modified.txt', index=0, sep='\t')

In [23]:
### Filtering Data

In [24]:
new_df = df.loc[( (df['Type 1'] == 'Bug') | (df['Type 2'] == 'Flying') ) & (df['HP'] >= 70)]

new_df.reset_index(drop=True, inplace=True)

new_df[0:10]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
1,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
2,18,Pidgeot,Normal,Flying,479,83,80,75,70,70,101,1,False
3,18,PidgeotMega Pidgeot,Normal,Flying,579,83,80,80,135,80,121,1,False
4,42,Golbat,Poison,Flying,455,75,80,70,65,75,90,1,False
5,49,Venomoth,Bug,Poison,450,70,65,60,90,75,90,1,False
6,123,Scyther,Bug,Flying,500,70,110,80,55,80,105,1,False
7,130,Gyarados,Water,Flying,540,95,125,79,60,100,81,1,False
8,142,Aerodactyl,Rock,Flying,515,80,105,65,60,75,130,1,False
9,142,AerodactylMega Aerodactyl,Rock,Flying,615,80,135,85,70,95,150,1,False

In [25]:
new_df.to_csv('filtered.csv')

In [26]:
df.loc[~df['Name'].str.contains('Mega ')][0:10]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False
13,10,Caterpie,Bug,NaN,195,45,30,35,20,20,45,1,False

In [27]:
import re

df.loc[df['Type 1'].str.contains('fire|GrasS', flags=re.I, regex=True)][0:10]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
42,37,Vulpix,Fire,NaN,299,38,41,40,50,65,65,1,False

In [28]:
df.loc[df['Name'].str.contains('^Pi[a-z]*', flags=re.I, regex=True)]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
20,16,Pidgey,Normal,Flying,251,40,45,40,35,35,56,1,False
21,17,Pidgeotto,Normal,Flying,349,63,60,55,50,50,71,1,False
22,18,Pidgeot,Normal,Flying,479,83,80,75,70,70,101,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,579,83,80,80,135,80,121,1,False
30,25,Pikachu,Electric,NaN,320,35,55,40,50,50,90,1,False
136,127,Pinsir,Bug,NaN,500,65,125,100,55,70,85,1,False
137,127,PinsirMega Pinsir,Bug,Flying,600,65,155,120,65,90,105,1,False
186,172,Pichu,Electric,NaN,205,20,40,15,35,35,60,2,False
219,204,Pineco,Bug,NaN,290,50,65,90,35,35,15,2,False
239,221,Piloswine,Ice,Ground,450,100,100,80,60,60,50,2,False
438,393,Piplup,Water,NaN,314,53,51,53,61,56,40,4,False
558,499,Pignite,Fire,Fighting,418,90,93,55,70,55,55,5,False
578,519,Pidove,Normal,Flying,264,50,55,50,36,30,43,5,False

In [29]:
### Conditional Changes

In [30]:
df.loc[df['Type 1'] == 'Ground', 'Type 1'] = 'Earth'

df.loc[df['Type 1'] == 'Earth'][0:10]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
32,27,Sandshrew,Earth,NaN,300,50,75,85,20,30,40,1,False
33,28,Sandslash,Earth,NaN,450,75,100,110,45,55,65,1,False
55,50,Diglett,Earth,NaN,265,10,55,25,35,45,95,1,False
56,51,Dugtrio,Earth,NaN,405,35,80,50,50,70,120,1,False
112,104,Cubone,Earth,NaN,320,50,50,95,40,50,35,1,False
113,105,Marowak,Earth,NaN,425,60,80,110,50,80,45,1,False
119,111,Rhyhorn,Earth,Rock,345,80,85,95,30,30,25,1,False
120,112,Rhydon,Earth,Rock,485,105,130,120,45,45,40,1,False
222,207,Gligar,Earth,Flying,430,65,75,105,35,65,85,2,False
250,231,Phanpy,Earth,NaN,330,90,60,60,40,40,40,2,False

In [31]:
df.loc[df['Type 1'] == 'Dragon', 'Legendary'] = True

df.loc[df['Type 1'] == 'Dragon'][0:10]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
159,147,Dratini,Dragon,NaN,300,41,64,45,50,50,50,1,True
160,148,Dragonair,Dragon,NaN,420,61,84,65,70,70,70,1,True
161,149,Dragonite,Dragon,Flying,600,91,134,95,100,100,80,1,True
365,334,Altaria,Dragon,Flying,490,75,70,90,70,105,80,3,True
366,334,AltariaMega Altaria,Dragon,Fairy,590,75,110,110,110,105,80,3,True
406,371,Bagon,Dragon,NaN,300,45,75,60,40,30,50,3,True
407,372,Shelgon,Dragon,NaN,420,65,95,100,60,50,50,3,True
408,373,Salamence,Dragon,Flying,600,95,135,80,110,80,100,3,True
409,373,SalamenceMega Salamence,Dragon,Flying,700,95,145,130,120,90,120,3,True
417,380,Latias,Dragon,Psychic,600,80,80,90,110,130,110,3,True

In [32]:
df = pd.read_csv('pokemon_data.csv')
df['Total'] = df.iloc[:, 4:10].sum(axis=1)

df.loc[df['Type 1'] == 'Dragon'][0:10]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
159,147,Dratini,Dragon,NaN,41,64,45,50,50,50,1,False,300
160,148,Dragonair,Dragon,NaN,61,84,65,70,70,70,1,False,420
161,149,Dragonite,Dragon,Flying,91,134,95,100,100,80,1,False,600
365,334,Altaria,Dragon,Flying,75,70,90,70,105,80,3,False,490
366,334,AltariaMega Altaria,Dragon,Fairy,75,110,110,110,105,80,3,False,590
406,371,Bagon,Dragon,NaN,45,75,60,40,30,50,3,False,300
407,372,Shelgon,Dragon,NaN,65,95,100,60,50,50,3,False,420
408,373,Salamence,Dragon,Flying,95,135,80,110,80,100,3,False,600
409,373,SalamenceMega Salamence,Dragon,Flying,95,145,130,120,90,120,3,False,700
417,380,Latias,Dragon,Psychic,80,80,90,110,130,110,3,True,600

In [33]:
### Conditional Changes

In [34]:
df.loc[df['Total'] > 500, ['Generation','Legendary']] = ('Boomer', 'Cool Dude')

df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,Boomer,Cool Dude,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,Boomer,Cool Dude,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,Boomer,Cool Dude,600
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,Boomer,Cool Dude,700
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,Boomer,Cool Dude,600
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,Boomer,Cool Dude,680
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,Boomer,Cool Dude,600

In [35]:
### Aggregate Statistics (Group By)

In [36]:
df = pd.read_csv('modified.csv')

df[0:10]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

In [37]:
df.groupby('Type 1').mean().sort_values('Speed', ascending=0)

C:\Users\quest\AppData\Local\Temp\ipykernel_20348\1311796646.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('Type 1').mean().sort_values('Speed', ascending=0)

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,,
Flying,677.750000,485.000000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,5.500000,0.500000
Electric,363.500000,443.409091,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,3.272727,0.090909
Dragon,474.375000,550.531250,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,3.875000,0.375000
Psychic,380.807018,475.947368,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228,3.385965,0.245614
Dark,461.354839,445.741935,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,4.032258,0.064516
Fire,327.403846,458.076923,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,3.211538,0.096154
Normal,319.173469,401.683673,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020,3.051020,0.020408
Fighting,363.851852,416.444444,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,3.370370,0.000000
Water,303.089286,430.455357,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,2.857143,0.035714
Ghost,486.500000,439.562500,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,4.187500,0.062500
Ground,356.281250,437.500000,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,3.156250,0.125000
Poison,251.785714,399.142857,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,2.535714,0.000000
Ice,423.541667,433.458333,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333,3.541667,0.083333
Grass,344.871429,421.142857,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,3.357143,0.042857
Bug,334.492754,378.927536,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,3.217391,0.000000
Rock,392.727273,453.750000,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,3.454545,0.090909
Steel,442.851852,487.703704,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,3.851852,0.148148
Fairy,449.529412,413.176471,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,4.117647,0.058824

In [38]:
df['Count'] = 1
df.groupby(['Type 1']).count()['Count']

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
Name: Count, dtype: int64

In [39]:
df.groupby(['Type 1', 'Type 2']).count()['Count']

Type 1  Type 2
Bug     Electric     2
        Fighting     2
        Fire         2
        Flying      14
        Ghost        1
                    ..
Water   Ice          3
        Poison       3
        Psychic      5
        Rock         4
        Steel        1
Name: Count, Length: 136, dtype: int64

In [40]:
### Working with large Data Sets

In [41]:
new_df = pd.DataFrame(columns=df.columns)

for df in pd.read_csv('modified.csv', chunksize=5):
    results = df.groupby(['Type 1', 'Type 2']).count()
    
    new_df = pd.concat([new_df, results])

In [42]:
new_df[:20]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Count
"(Grass, Poison)",4,4,NaN,NaN,4,4,4,4,4,4,4,4,4,NaN
"(Fire, Dragon)",1,1,NaN,NaN,1,1,1,1,1,1,1,1,1,NaN
"(Fire, Flying)",2,2,NaN,NaN,2,2,2,2,2,2,2,2,2,NaN
"(Bug, Flying)",1,1,NaN,NaN,1,1,1,1,1,1,1,1,1,NaN
"(Bug, Poison)",4,4,NaN,NaN,4,4,4,4,4,4,4,4,4,NaN
"(Normal, Flying)",4,4,NaN,NaN,4,4,4,4,4,4,4,4,4,NaN
"(Normal, Flying)",2,2,NaN,NaN,2,2,2,2,2,2,2,2,2,NaN
"(Poison, Ground)",2,2,NaN,NaN,2,2,2,2,2,2,2,2,2,NaN
"(Normal, Fairy)",1,1,NaN,NaN,1,1,1,1,1,1,1,1,1,NaN
"(Grass, Poison)",2,2,NaN,NaN,2,2,2,2,2,2,2,2,2,NaN
"(Normal, Fairy)",1,1,NaN,NaN,1,1,1,1,1,1,1,1,1,NaN
"(Poison, Flying)",2,2,NaN,NaN,2,2,2,2,2,2,2,2,2,NaN
"(Bug, Grass)",2,2,NaN,NaN,2,2,2,2,2,2,2,2,2,NaN
"(Bug, Poison)",2,2,NaN,NaN,2,2,2,2,2,2,2,2,2,NaN
"(Grass, Poison)",1,1,NaN,NaN,1,1,1,1,1,1,1,1,1,NaN
"(Water, Fighting)",1,1,NaN,NaN,1,1,1,1,1,1,1,1,1,NaN
"(Grass, Poison)",3,3,NaN,NaN,3,3,3,3,3,3,3,3,3,NaN
"(Water, Poison)",2,2,NaN,NaN,2,2,2,2,2,2,2,2,2,NaN
"(Rock, Ground)",3,3,NaN,NaN,3,3,3,3,3,3,3,3,3,NaN
"(Electric, Steel)",2,2,NaN,NaN,2,2,2,2,2,2,2,2,2,NaN